[run]
branch = True
source = accounts,travel,AI,qa,knowledge
omit =
    */migrations/*
    */tests/*
    */test/*
    manage.py
    tripgenius/settings.py
    tripgenius/test_settings.py
    tripgenius/wsgi.py
    tripgenius/asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    if __name__ == .__main__.:
